{% extends "structure.html" %}

{% block content %}
<div class="header-box">
    <h1>Home {{ request.user.username }}</h1>
</div>
<div class="post">
    <div class="retweeted">
        {% if request.GET.retweeted %}
        {{ post.user.first_name }} retweeted
        {% endif %}
    </div>
    <div class="post-layout">
        {% load static %}
        <div class="avatar-box"><img src="{% static "img/avatar_default.png" %}" alt="Avatar" class="avatar" /></div>
        <div class="post-info">{{ post.user.first_name }} {{ post.user.last_name }} X @{{ post.user.username }} -
            {{ post.readable_created }}</div>
        <div class="content">
            {{ post.content }}
        </div>
        <div class="comments">
            <a href="{% url 'posts:detail' post.id %}"
                class="icon-link modal-link icon-comment tweet-icon {% if post.has_comments %}active{% endif %}"
                data-modal_type="comment"></a>
            <span class="counter">
                {{ post.comment_set.count }}
            </span>
        </div>
        <div class="retweets">
            <a href="{% url 'posts:create_retweet' post.id %}"
                class="icon-link modal-link icon-retweet tweet-icon {% if post.has_retweets %}active{% endif %}"
                data-modal_type="retweet"></a>
            <span class="counter">
                {{ post.retweet_set.count }}
            </span>
        </div>
        <div class="likes">
            <a href="{% url 'posts:add_like' post.id %}"
                class="icon-link modal-link icon-like tweet-icon {% if post.has_likes %}active{% endif %}"
                data-modal_type="like"></a>
            <span class="counter">
                {{ post.likes }}
            </span>
        </div>
        <div class="share">
            <div class="tweet-icon icon-share"></div>
        </div>
    </div>
</div>
<div class="comments">
    {% for comment in post.comment_set.all %}
    {{ comment.content }}
    {% endfor %}
</div>
{% endblock %}