{% extends "structure.html" %}
{% load static %}

{% block content %}
<div class="header-box">
    <h1>Home {{ request.user.username }}</h1>
</div>
<div class="create-post-box">
    {% if request.user.is_authenticated %}
    <form action="{% url 'posts:create' %}" method="POST" class="create-post">
        {% csrf_token %}

        <div class="create-post-box-grid">
            <div class="create-post-box-avatar">
                <img src="{{ user.get_avatar }}" alt="Avatar" class="avatar" />
            </div>
            <div class="create-post-box-content">
                <input type="text" class="create-post form-control mb-3" placeholder="What's happening?" name="content"
                    max="255" />
                <div class="toolbar d-flex justify-content-between">
                    <div class="attachments">
                        <img src="{% static "img/icon_img.png" %}" alt="icon-emoji" class="attachment-icon icon-img" />
                        <img src="{% static "img/icon_gif.png" %}" alt="icon-gif" class="attachment-icon icon-gif" />
                        <img src="{% static "img/icon_statistic.png" %}" alt="icon-statistic"
                            class="attachment-icon icon-statistic" />
                        <img src="{% static "img/icon_emoji.png" %}" alt="icon-emoji"
                            class="attachment-icon icon-emoji" />
                    </div>
                    <button type="submit" class="btn btn-primary float-right">tweet</button>
                </div>
            </div>
        </div>
    </form>
    {% endif %}
</div>
<div class="posts">
    {% for post in posts %}
    <div class="post">
        <div class="retweeted">
            {% if post.is_retweet %}
            {{ post.user.first_name }} retweeted
            {% endif %}
        </div>
        <div class="post-layout">
            {% load static %}
            <div class="avatar-box">
                <img src="{{ user.get_avatar }}" alt="Avatar" class="avatar" />
            </div>
            <div class="post-info">
                <span class="name">{{ post.user.first_name }} {{ post.user.last_name }}</span>
                <span class="username">@{{ post.user.username }}</span>
                <span class="date"> - {{ post.readable_created }}</span>
            </div>
            <div class="content">
                <a href="{% url 'posts:detail' post.id %}{% if post.is_retweet %}?retweeted=1{% endif %}">
                    {{ post.content }}
                </a>
            </div>
            <div class="comments">
                <a href="{% url 'posts:detail' post.id %}"
                    class="icon-link modal-link icon-comment tweet-icon {% if post.has_comments %}active{% endif %}"
                    data-modal_type="comment"></a>
                <span class="counter">
                    {{ post.comment_set.count }}
                </span>
            </div>
            <div class="retweets">
                <a href="{% url 'posts:create_retweet' post.id %}"
                    class="icon-link modal-link icon-retweet tweet-icon {% if post.has_retweets %}active{% endif %}"
                    data-modal_type="retweet"></a>
                <span class="counter">
                    {{ post.retweet_set.count }}
                </span>
            </div>
            <div class="likes">
                <a href="{% url 'posts:add_like' post.id %}"
                    class="icon-link modal-link icon-like tweet-icon {% if post.has_likes %}active{% endif %}"
                    data-modal_type="like"></a>
                <span class="counter">
                    {{ post.likes }}
                </span>
            </div>
            <div class="share">
                <div class="tweet-icon icon-share"></div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}